@import './config/font.css';

body {
  margin: 0;
  font: 500 14px 'yekanBakh-medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #11121a;
  scroll-behavior: smooth;
}

.player-dimensions.vjs-fluid:not(.vjs-audio-only-mode), .player-dimensions.vjs-fluid {
  padding-top: 0 !important;
}